name: Discount Deploy

on:
  push:
    branches: [ master, deploy ]

jobs:
  unit-tests:
    name: Run unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Copy ENV Laravel Configuration for CI
        run: php -r "file_exists('.env') || copy('.env.ci', '.env');"
      - name: Install Dependencies (PHP vendors)
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
      - name: Create DB and schemas
        run: |
          mkdir -p database
          touch database/database.sqlite
          php artisan migrate --force
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: vendor/bin/phpunit
  build:
    name: Deploy code to production
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PROD_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin master
            composer install
            composer du -o
            php artisan migrate
