name: Discount Deploy

on:
  push:
    branches: [ master, deploy ]

jobs:
  build:
    name: Deploy code to prod
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PROD_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin master
            composer install
